@model BazyDanychProjekt.Models.Hotel

<style>
    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    select,
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        button:hover {
            background-color: #45a049;
        }

    .alert {
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }

    .alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
</style>

<h2>Edytuj Hotel</h2>

<form asp-action="EdytujHotel" method="post">
    <!-- Formularz edycji informacji o hotelu -->
    <label for="Nazwa">Nazwa:</label>
    <input type="text" id="Nazwa" name="Nazwa" value="@Model.Nazwa" required />

    <label for="Kraj">Kraj:</label>
    <input type="text" id="Kraj" name="Kraj" value="@Model.Kraj" required />

    <label for="Miasto">Miasto:</label>
    <input type="text" id="Miasto" name="Miasto" value="@Model.Miasto" required />

    <label for="Gwiazdki">Gwiazdki:</label>
    <input type="number" id="Gwiazdki" name="Gwiazdki" value="@Model.Gwiazdki" required min="1" max="5" />

    <label for="Opis">Opis:</label>
    <textarea id="Opis" name="Opis" required>@Model.Opis</textarea>

    <button type="submit">Zaktualizuj</button>
</form>

<!-- Przycisk do przejścia do edycji zdjęć -->
<a asp-action="EdytujZdjeciaHotelu" asp-route-id="@Model.Id">Edytuj Zdjęcia</a>
<a asp-action="WyswietlPokoje" asp-route-hotelId="@Model.Id">Edytuj Pokoje</a>