@model List<Pokoj>

<h2>Lista Pokoi Hotelu</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Numer Pokoju</th>
            <th>Typ Pokoju</th>
            <th>Liczba Osob</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokoj in Model)
        {
                <tr>
                    <td>@pokoj.Nazwa</td>
                    <td>@pokoj.NumerPokoju</td>
                    <td>@pokoj.TypPokoju</td>
                    <td>@pokoj.LiczbaOsob</td>
                    <td>@pokoj.Cena</td>
                    <td>
                        <a asp-action="EdytujPokoj" asp-route-pokojId="@pokoj.Id">Edytuj</a> |
                        <a asp-action="UsunPokoj" asp-route-pokojId="@pokoj.Id">Usuń</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<!-- Formularz do dodawania nowego pokoju -->
<h3>Dodaj nowy pokój:</h3>
<form asp-action="DodajPokoj" method="post">
    <input type="hidden" id="HotelId" name="HotelId" value="@ViewBag.HotelId" />
    <label for="Nazwa">Nazwa:</label>
    <input type="text" id="Nazwa" name="Nazwa" required />

    <label for="NumerPokoju">Numer Pokoju:</label>
    <input type="text" id="NumerPokoju" name="NumerPokoju" required />

    <label for="TypPokoju">Typ Pokoju:</label>
    <input type="text" id="TypPokoju" name="TypPokoju" required />

    <label for="LiczbaOsob">Liczba Osob:</label>
    <input type="number" id="LiczbaOsob" name="LiczbaOsob" required />

    <label for="Cena">Cena:</label>
    <input type="number" id="Cena" name="Cena" required />

    <button type="submit">Dodaj Pokój</button>
</form>
